@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.social-media{
    padding: 20px;
}
.featured-title{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0AC67A; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0CA6B8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0CA6B8; 
}
.pk-bgcolor-skincolor{
  background: #0CA6B8;
}

/* 1. header */
.featured-title-h2{
  font-weight: bold;
}
ul li a.pk-light{
  color: #000000;
  font-weight: bold;
}
ul li a.pk-light:hover{
  color: #0CA6B8;
  font-weight: bold;
}
.sub-title{
  position: relative;
  left: 45px;
}
.sub-title h5{
  font-weight: bold;
  color: #0CA6B8;
}
.sub-title::before {
  content: "";
  height: 3px;
  width: 35px;
  background-color: #0CA6B8;
  position: absolute;
  display: inline-block;
   top: 10px;
  left: -45px;
}
.institution-text{
  font-size: 15px;
  font-weight: bold;
}
.institution-year{
  font-size: 12px;
  font-weight: bold;
}

/* 2. spacing */
.certification li p{
  padding: 0 ;
  margin: 0;
}
.certification{
  padding: 0 ;
}
.skill-item{
  text-align: center;
}
/* .company{
  text-align: center;
}
.certification{
  text-align: center;
}
.cert-img{
  margin: auto;
} */
.abt-ul li{
  padding: 5px 0 5px 0;
}
ul.abt-ul{
  margin: 0;
  padding: 0;
}
.mt-10 {
  margin-top: 10px;
}
.pt-30 {
  padding-top: 30px;
}
.mt-20 {
  top: 20px;
}

.mt-40 {
  margin-top: 40px;
}


.mt_80 {
  margin-top: -80px;
}

.mt_90 {
  margin-top: -90px;
}

.mt_95 {
  margin-top: -95px;
}

.mt_100 {
  margin-top: -100px;
}

.mt_225 {
  margin-top: -225px;
}

.mt_230 {
  margin-top: -230px;
}

.mb_80 {
  margin-bottom: -80px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-70 {
  margin-top: 70px;
}
.recapt{
  padding: 0 0 20px 0;
}
/*3 icons */
.widget{
  padding-left: 10px;
  position: relative;
}

.widget::before {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 18px;
  font-size: 13px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-family: 'themify';
  content: "\e661";
}
.flaticon{
  font-size: 60px;
  color: #0CA6B8;
}
.fab{
  position: relative;
  /* margin: 20px auto; */
  color: #000;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 70px;
  font-size: 25px;
  transition: 1s box-shadow;
}
.fab:hover {
  box-shadow: 0 3px 3px 0px rgba(0,0,0,.1);
}
.fa-facebook-f {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-linkedin-in{
  color: #007bb5;
}
.fa-instagram {
  color: #f40083;
}
.fa-play{
  color: #000000;
}
.fa-play:hover{
  color: #ffffff;
}
.fab:hover::before, .fab:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: #FDA8CF;
  border-radius: 70px;
  z-index: -1;
  animation: 1s clockwise infinite;
}
.fab:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -1px;
    left: 0;
  }
 12% {
    top: 0px;
    left: 1px;
  }
  25% {
    top: 0;
    left: 2px;    
  }
  37% {
    top: 1px;
    left: 1px;
  }
  50% {
    top: 2px;
    left: 0;    
  }
  62% {
    top: 1px;
    left: -1px;
  }
  75% {
    top: 0;
    left: -1px;
  }
  87% {
    top: 1px;
    left: -1px;
  }
  100% {
    top: -1px;
    left: 0;    
  } 
}

@keyframes counterclockwise {
  0% {
    top: -1px;
    right: 0;
  }
  12% {
    top: 0px;
    right: 1px;
  }
  25% {
    top: 0;
    right: 2px;    
  }
  37% {
    top: 1px;
    right: 1px;
  }
  50% {
    top: 2px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -1px;
  }
  75% {
    top: 0;
    right: -2px;
  }
  87% {
    top: -1px;
    right: -1px;
  }
  100% {
    top: -2px;
    right: 0;    
  }
}



/*4 deviders */
.featured-slipter-info , .featured-slipter-title{
  border-top: 1px solid #E1E1E1;
  margin-left: -200px;
}
/* 5 buttons */
.skill-btn{
  text-decoration: none;
  font-weight: bold;
  color: #0CA6B8;
}
.skill-btn:hover{
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  transform: translateY(-150%) scale(.8);
}
.btn{
  border-radius: 0px;
  position: relative;
}
button.submit-btn{
  border: 2px solid #0CA6B8;
  color: #0CA6B8;
  font-weight: bold;
}
button.submit-btn:hover{
  border: 2px solid #0CA6B8;
  color: #ffffff;
  font-weight: bold;
}
.btn-space {
  margin-right: 15px;
}
a.btn{
border: 2px solid #0CA6B8;
background-color: transparent;
color: #0CA6B8;
padding: 10px 15px;
font-size: 16px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
a.btn:hover{
color: #ffffff;
background-color: #0CA6B8;
 border: 2px solid #0CA6B8;
 box-shadow: inset 0 0 0 1px #0CA6B8, inset 0 0 0 3px white; 

}
.btn::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
.btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .4s ease;
  background-color: #0CA6B8;
  box-shadow: inset 0 0 0 1px #0CA6B8, inset 0 0 0 3px white;
}

/* 6. images */
.cert-img{
  height: 45px;
  width: 60px;
}
/* 7. colors */
.form-group .bg-gray{
  background-color: #c4c4c4;
}
.form-group{
  padding: 0 0 20px 0;
  
}
input{
  height: 50px;
}
span.navbar-toggler-icon{
  color: rgb(255, 0, 0);
}
.skill-sub{
  text-align: center;
}
/* 8.tooltip */
.tooltip-top,
.tooltip-bottom {
    position: relative;
}

.tooltip::after,
.tooltip::before,
[data-tooltip]::after,
[data-tooltip]::before {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

.tooltip::before,
[data-tooltip]::before {
    z-index: 1001;
    border: 6px solid transparent;
    background: 0 0;
    content: "";
}

.tooltip::before,
[data-tooltip]::before,
.tooltip-top::before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #0CA6B8;
}

.tooltip::after,
[data-tooltip]::after,
.tooltip-top::after {
    margin-left: -20px;
}

.tooltip::after,
.tooltip::before,
[data-tooltip]::after,
[data-tooltip]::before,
.tooltip-top::after,
.tooltip-top::before {
    bottom: 78%;
    left: 50%;
}

.tooltip:hover::after,
.tooltip:hover::before,
.tooltip:focus::after,
.tooltip:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before,
[data-tooltip]:focus::after,
[data-tooltip]:focus::before,
.tooltip-top:hover::after,
.tooltip-top:hover::before,
.tooltip-top:focus::after,
.tooltip-top:focus::before {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
}

.tooltip::after,
[data-tooltip]::after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    color: rgb(0, 0, 0);
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
    background-color: #0CA6B8;
}

.tooltip:hover::after,
.tooltip:hover::before,
.tooltip:focus::after,
.tooltip:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before,
[data-tooltip]:focus::after,
[data-tooltip]:focus::before {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(Opacity=100);
    opacity: 1;
}

.tooltip-bottom::after {
    bottom: -68px;
    left: 0;
    margin-left: -10px;
}

.tooltip-bottom::before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: transparent !important;
    bottom: -24px;
    border-bottom-color: #0CA6B8;
}

 /* 9.Pre-loader */

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -30px 0 0 -30px;
}

#status {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
  background-image: url(../img/load.gif);
  background-repeat: no-repeat;
  background-position: center;
}
/* 10. scroll down */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #0CA6B8;
  fill: transparent;
  stroke-width: 3px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/* 11. playbtn */

.ttm-play-icon-btn {
    display: inline-block;
}
.ttm-play-icon-btn.fa {
  color: rgb(255, 0, 0);
}

.ttm-play-icon {
    color: #fff;
    display: block;
    position: relative;
}

.ttm-play-icon .ttm-icon.ttm-icon_element-size-md {
    width: 95px;
    height: 95px;
    line-height: 95px;
    margin: 0;
}

.ttm-play-icon .ttm-play-icon-animation {
    display: inline-block;
    position: relative;
}

.ttm-play-icon .ttm-play-icon-animation::after,
.ttm-play-icon .ttm-play-icon-animation::before {
    content: '';
    border: 1px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    border-radius: 100%;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videoplay-anim linear infinite;
    animation: 1s videoplay-anim linear infinite;
}

.ttm-play-icon .ttm-play-icon-animation::after {
    border-color: #bfbfbf;
}

.ttm-play-icon .ttm-play-icon-animation::before {
    border-color: #e4e4e4;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm {
    display: block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    line-height: 60px;
    margin: 0;
    z-index: 2;
}

.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm i,
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm svg {
    padding-left: 5px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.ttm-play-icon-btn .ttm-play-icon-animation {
    position: relative;
    display: inline-block;
}

.ttm-play-icon-btn .ttm-play-icon-animation .ttm-icon {
    margin-bottom: 0;
}

.ttm-play-icon-btn .ttm-play-icon-animation::after,
.ttm-play-icon-btn .ttm-play-icon-animation::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ttm-play-icon-btn .ttm-play-icon-animation::after {
    z-index: 1;
    width: 95px;
    height: 95px;
    opacity: .1;
    background-color: #fff;
}

.ttm-play-icon-btn .ttm-play-icon-animation::before {
    width: 80px;
    height: 80px;
    opacity: .2;
    background-color: #fff;
}

.ttm-play-icon-btn:hover .ttm-play-icon-animation::after,
.ttm-play-icon-btn:hover .ttm-play-icon-animation::before {
    -webkit-animation: scaling 1.05s infinite;
    animation: scaling 1.05s infinite;
}

.ttm-play-icon-btn.ttm-play-icon-btn-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}

@-webkit-keyframes scaling {
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes scaling {
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
/* ===============================================
    12.Icons
------------------------*/

.ttm-icon {
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.ttm-icon i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ttm-icon.ttm-icon_element-size-xs {
  width: 42px;
  height: 42px;
  line-height: 42px;
}

.ttm-icon.ttm-icon_element-size-xs i,
.ttm-icon.ttm-icon_element-size-xs svg {
  font-size: 16px;
}

.ttm-icon.ttm-icon_element-size-sm {
  width: 52px;
  height: 52px;
  line-height: 52px;
}

.ttm-icon.ttm-icon_element-size-sm i,
.ttm-icon.ttm-icon_element-size-sm svg {
  font-size: 28px;
}

.ttm-icon.ttm-icon_element-size-md {
  width: 58px;
  height: 58px;
  line-height: 58px;
}

.ttm-icon.ttm-icon_element-size-md i,
.ttm-icon.ttm-icon_element-size-md svg {
  font-size: 30px;
}

.ttm-icon.ttm-icon_element-size-lg {
  width: 64px;
  height: 64px;
  line-height: 64px;
}

.ttm-icon.ttm-icon_element-size-lg i,
.ttm-icon.ttm-icon_element-size-lg svg {
  font-size: 45px;
}


/* changed pk */

.ttm-icon.ttm-bgcolor-white {
  color: #000000;
  border-color: transparent;
}

.ttm-icon.ttm-icon_element-border.ttm-textcolor-skincolor {
  border-color: #fc8200;
}


/** icon-size **/


/* play-btn / play-icon */

.ttm-play-icon-btn {
  display: inline-block;
}

.ttm-play-icon {
  color: #fff;
  display: block;
  position: relative;
}

.ttm-play-icon .ttm-icon.ttm-icon_element-size-md {
  width: 95px;
  height: 95px;
  line-height: 95px;
  margin: 0;
}

.ttm-play-icon .ttm-play-icon-animation {
  display: inline-block;
  position: relative;
}

.ttm-play-icon .ttm-play-icon-animation::after,
.ttm-play-icon .ttm-play-icon-animation::before {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 150%;
  height: 150%;
  border-radius: 100%;
  position: absolute;
  left: -25%;
  top: -25%;
  opacity: 1;
  -webkit-animation: 1s videoplay-anim linear infinite;
  animation: 1s videoplay-anim linear infinite;
}

.ttm-play-icon .ttm-play-icon-animation::after {
  border-color: #bfbfbf;
}

.ttm-play-icon .ttm-play-icon-animation::before {
  border-color: #e4e4e4;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm {
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  line-height: 60px;
  margin: 0;
  z-index: 2;
}

.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm i,
.ttm-play-icon-btn .ttm-icon.ttm-icon_element-size-sm svg {
  padding-left: 5px;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.ttm-play-icon-btn .ttm-play-icon-animation {
  position: relative;
  display: inline-block;
}

.ttm-play-icon-btn .ttm-play-icon-animation .ttm-icon {
  margin-bottom: 0;
}

.ttm-play-icon-btn .ttm-play-icon-animation::after,
.ttm-play-icon-btn .ttm-play-icon-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.ttm-play-icon-btn .ttm-play-icon-animation::after {
  z-index: 1;
  width: 95px;
  height: 95px;
  opacity: .1;
  background-color: #fff;
}

.ttm-play-icon-btn .ttm-play-icon-animation::before {
  width: 80px;
  height: 80px;
  opacity: .2;
  background-color: #fff;
}

.ttm-play-icon-btn:hover .ttm-play-icon-animation::after,
.ttm-play-icon-btn:hover .ttm-play-icon-animation::before {
  -webkit-animation: scaling 1.05s infinite;
  animation: scaling 1.05s infinite;
}

.ttm-play-icon-btn.ttm-play-icon-btn-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

@-webkit-keyframes scaling {
  100% {
      width: 200%;
      height: 200%;
      opacity: 0;
  }
}

@keyframes scaling {
  100% {
      width: 200%;
      height: 200%;
      opacity: 0;
  }
}
/* 13. circle */
.ttm-btn.rounded-circle {
  border-radius: 2em !important;
}
/* 14. video */

#videobox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

#videobox #video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border: 5px solid #fff;
  height: 70%;
}

#videobox #video-wrapper iframe {
  width: 500px;
  height: 100%;
}

#videobox #close-btn {
  color: grey;
  font-size: 25px;
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 999;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: color .5s ease, -webkit-transform .5s ease;
  transition: color .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, color .5s ease;
  transition: transform .5s ease, color .5s ease, -webkit-transform .5s ease;
}

#videobox #close-btn:hover {
  color: #fff;
  cursor: pointer;
}
/* 15. Background images */
.bg-img-1{
  background-image: url("../img/cert.jpg")
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
/* 16. alignment */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.portfolio {
  width: 100%;
  height: 150px;

}

.portfolio-links{
  text-decoration: none;
  color: #000;
}

.portfolio-links p{
  text-align: left;
  font-size: 14px;
}