@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* =================================HEADER STYLING================================= */
.header{
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 5px -5px #000000; 
  box-shadow: 1px 3px 5px -5px #000000;
}
.nav-btn {
  display: flex;
  justify-content: center;
}
.nav-ul{
  list-style: none;
  padding: 0; /* Remove padding */
  margin: 0;
}
.nav-ul li{
  display: inline-block;
  text-align: center;
}
.nav-li{
  width: 90px;
}
.loation{
  text-decoration: none;
  color: #000000;
}
/* =================================HOME STYLING================================= */
.home-body{
  background-color: #e4e4e4;
  height: 1000px;
}

/* =================================PADDING STYLING================================= */
.pt-7{
  padding-top: 7px;
}
.pt-10{
  padding-top: 10px;
}
.pl-10{
  padding-left: 10px;
}

/* =================================ICON STYLING================================= */
.header-icon{
  font-size: 40px;
}